.addbutton{
    background-color: rgb(67,150,220);
    border-radius: 10px;
    padding: 5px;
    border: none;
}
.border{
    border: 1px solid rgb(67,150,220);
    border-radius: 10px;
    padding: 5px;
    
}